<footer>
    <div class="divfooter">
        <div>
            <h2>Contactanos</h2>
            <div>
                <p>Numero de telefono: 3132455630</p>
                <p>Correo Electronico: abril0756@gmail.com</p>
            </div>
        </div>
        <div>
            <h2>Redes Sociales</h2>
            <div>
                <a href="">Facebook</a>
                <a href="">Instagram</a>
                <a href="">GitHub</a>
                <a href="">LinkedIn</a>
            </div>
        </div>
    </div>
    <p><span>@2025 AbrilEnterprise.</span></p>
</footer>